#root,
html,
body {
  height: 100%;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

h2 {
  border-top: 1px dashed #ccc;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  margin: 25px 0 5px 0;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin: 5px 0;
}

ul {
  margin: 5px 0;
  padding: 0;
}

li {
  list-style: none;
  float: left;
  margin: 0 10px;
  padding-left: 0;
}

a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

a:hover {
  opacity: 0.35;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

.RepositoryItem {
  clear: both;
}
